
<a href="/">Home</p></a>
<a href="/safe_locations/?emergency_cat=7">Tornado Safe Locations</a>
<a href="/safe_locations/?dist=true">Sort by distance</a>

<h5><%= current_user && current_user.email %></h5>
<% if current_user %>
  <a href="/users/<%= current_user.id %>">Your Account</a>
  <%= link_to "Logout", "/logout", method: :delete %>
<% else %>
  <a href="/login">Login</a>
  <a href="/signup">Create an Account</a>
<% end %>


<% @safe_locations.each do |location| %>
  <a href="/safe_locations/<%= location.id %>"><h3><%= location.name %></h3></a>
<% end %>

<h1>|||||||||||||||||||||||||||||||||||||||||||||||||||||||||</h1>

<% @emergencies.each do |emergency| %>
  <a href="/emergencies/<%= emergency.id %>"><h3><%= emergency.name %></h3></a>
<% end %>

<h1>|||||||||||||||||||||||||||||||||||||||||||||||||||||||||</h1>

<% @services.each do |service| %>
  <a href="/services/<%= service.id %>"><h3><%= service.name %></h3></a> 
<% end %>

<h1>|||||||||||||||||||||||||||||||||||||||||||||||||||||||||</h1>

<% @events.each do |event| %>
  <a href="/services/<%= event.id %>"><h3><%= event.name %></h3></a> 
<% end %>
