<!DOCTYPE html>
<html>
  <head>
    <title>DisasterApp</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <%= yield %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_KEY'] %>&libraries=places&callback=initMap" type="text/javascript"></script>
  </body>
</html>
